@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  overflow: scroll;
}

.wraper {
  display: flex;
  min-height: 100%;
  overflow: hidden;
  flex-direction: column;
}

.header__color {
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: rgb(85, 87, 85);
}

.container {
  max-width: 1470px;
  padding: 0 10px;
  margin: 0px auto;
}

.header__bloks {
  display: flex;
  color: white;
  align-items: center;
  padding: 10px 0;
}
.header__bloks img {
  width: 30px;
}

.blok__menu {
  padding: 5px;
  transition-duration: 0.3s;
  border-radius: 10px;
}
.blok__menu:hover {
  background-color: rgba(255, 255, 255, 0.185);
  cursor: pointer;
}

.logo__image {
  width: 160px;
}
.logo__image img {
  width: 50px;
}
.logo__image::after {
  content: "SHOP";
  font-size: 40px;
  position: relative;
  top: 3px;
  color: white;
}

.blok__catalog {
  display: flex;
  width: 250px;
  padding: 10px;
  padding-right: 20px;
  background-color: rgba(255, 255, 255, 0.196);
  border-radius: 10px;
  transition-duration: 0.3s;
}
.blok__catalog img {
  margin-left: 10px;
  width: 30px;
  height: 30px;
}
.blok__catalog::after {
  content: "Каталог";
  font-size: 25px;
  position: relative;
  top: 4px;
  left: 10px;
}
.blok__catalog:hover {
  background-color: rgba(255, 255, 255, 0.499);
  cursor: pointer;
}

.blok__img {
  display: block;
}

.blok__cross {
  display: none;
}

.wraper._activCatalog .blok__img {
  display: none;
}

.wraper._activCatalog .blok__cross {
  display: block;
}

.blok__search {
  display: flex;
  width: 100%;
}
.blok__search img {
  position: relative;
  right: -27px;
  bottom: -4px;
  width: 25px;
  height: 25px;
}
.blok__search input {
  padding: 10px 30px;
  width: 100%;
  height: 35px;
  font-size: 17px;
  border-radius: 5px 0 0 5px;
}
.blok__search button {
  border-radius: 0 5px 5px 0;
  background-color: rgb(1, 138, 1);
  padding: 5px 10px 8px 10px;
  color: white;
  font-size: 20px;
}
.blok__search button p {
  position: relative;
  left: -1px;
  bottom: -2px;
}
.blok__search button:hover {
  background-color: rgb(4, 179, 42);
}

.blok__lenguage {
  font-size: 25px;
}
.blok__lenguage :last-child:hover {
  color: rgb(220, 220, 220);
}
.blok__lenguage :first-child {
  padding-right: 10px;
  border-right: 3px black solid;
  color: rgb(152, 152, 152);
  margin-right: 10px;
}
.blok__lenguage :first-child:hover {
  color: red;
}
.blok__lenguage:hover {
  cursor: pointer;
}

.blok__profile {
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  transition-duration: 0.3s;
}
.blok__profile:hover {
  background-color: rgba(255, 255, 255, 0.185);
}
.blok__profile img {
  width: 25px;
}

.blok__basket {
  padding: 5px;
  transition-duration: 0.3s;
  border-radius: 10px;
}
.blok__basket img {
  width: 30px;
}
.blok__basket:hover {
  background-color: rgba(255, 255, 255, 0.185);
  cursor: pointer;
}

.header__under {
  margin-top: 80px;
}
.header__under h1 {
  font-size: 50px;
}

.under__list {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.under__list select {
  border: 2px rgba(66, 73, 136, 0.541) solid;
  padding: 5px;
  border-radius: 10px;
  font-size: 15px;
}
.under__list option {
  font-size: 15px;
}

.under__filter {
  cursor: pointer;
  background-color: rgb(89, 89, 230);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 130px;
  font-size: 20px;
  padding: 7px 10px;
  border-radius: 10px;
}
.under__filter img {
  width: 20px;
}

.under__button {
  display: flex;
}
.under__button button {
  background-color: rgba(128, 128, 128, 0.142);
  border-radius: 10px;
  cursor: pointer;
  padding: 10px;
  font-size: 15px;
  margin: 5px;
}
.under__button button:hover {
  background-color: rgba(128, 128, 128, 0.436);
}

.katalog-window {
  position: fixed;
  top: 14%;
  width: 96%;
  height: 500px;
  background-color: white;
  z-index: 1;
  border-radius: 10px;
  padding: 5px;
  transform: translateX(-110%);
  transition: transform 0.5s;
}
.katalog-window p {
  font-size: 25px;
  margin-top: 10px;
}

.katalog__exity {
  display: block;
  cursor: pointer;
  background-color: grey;
  display: flex;
  justify-content: flex-end;
  border-radius: 10px;
}
.katalog__exity img {
  width: 50px;
}

.wraper._activCatalog .katalog-window {
  transform: translateX(0);
  z-index: 2;
}

.wraper._activCatalog .menu-bar__overlay {
  transform: translateX(0);
}

.wraper._activCatalog .header__color {
  z-index: 2;
}

.content__colum {
  display: flex;
}

.menu-bar__colum {
  width: 300px;
  top: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  background-color: white;
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.573);
  transition: all 190ms ease-out;
  z-index: 1;
  transform: translateX(-110%);
  transition: transform 0.5s;
}

.wraper._activMenu .menu-bar__colum {
  transform: translateX(0);
}

.menu__catalog {
  border: 1px black solid;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  transition-duration: 0.3s;
}
.menu__catalog img {
  width: 30px;
}
.menu__catalog::after {
  content: "Каталог";
  font-size: 25px;
  position: relative;
  top: 4px;
  left: 10px;
}
.menu__catalog:hover {
  background-color: rgba(4, 3, 3, 0.245);
  cursor: pointer;
}

.colum__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(85, 87, 85);
  padding: 5px;
}

.cross {
  opacity: 0.3;
  cursor: pointer;
}
.cross:hover {
  opacity: 1;
}
.cross img {
  width: 50px;
}

.menu-bar__center p {
  font-size: 30px;
  cursor: pointer;
  margin: 10px;
  border-radius: 10px;
  padding: 5px;
}
.menu-bar__center p:hover {
  background-color: rgba(4, 3, 3, 0.245);
}

.menu-bar__overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.336);
  z-index: 1;
  transform: translateX(-100%);
  transition: transform 0.5s;
}

.wraper._activMenu .menu-bar__overlay {
  transform: translateX(0);
}

.rid-bar {
  border: 2px rgba(66, 73, 136, 0.541) solid;
  border-left: 0;
}
.rid-bar h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 30px;
  padding: 10px;
}
.rid-bar h2:hover {
  color: rgb(239, 114, 114);
}
.rid-bar h2 img {
  width: 20px;
  opacity: 0.3;
  transform: rotate(0deg);
  transition: transform 0.5s;
}
.rid-bar li {
  cursor: pointer;
  padding: 7px 0 7px 10px;
  margin: 0 10px 0 0;
  font-size: 20px;
  transition-duration: 0.3s;
}
.rid-bar li:hover {
  background-color: rgba(231, 231, 255, 0.504);
  border-radius: 5px;
}
.rid-bar li:last-child {
  margin-bottom: 15px;
}
.rid-bar li img {
  width: 15px;
  margin: 2px 5px 0 0;
}

.filter-exit {
  display: flex;
  justify-content: flex-end;
  background-color: grey;
}
.filter-exit img {
  width: 40px;
}

#brend1 .brend__img1 img {
  opacity: 0.3;
  display: inline-block;
}
#brend1 .brend__img2 img {
  display: none;
}

._activeBrend1 #brend1 .brend__img1 img {
  display: none;
}
._activeBrend1 #brend1 .brend__img2 img {
  display: inline-block;
}

._opasityBrend1 #brend1 .brend__img1 img {
  opacity: 1;
}

#brend2 .brend__img1 img {
  opacity: 0.3;
  display: inline-block;
}
#brend2 .brend__img2 img {
  display: none;
}

._activeBrend2 #brend2 .brend__img1 img {
  display: none;
}
._activeBrend2 #brend2 .brend__img2 img {
  display: inline-block;
}

._opasityBrend2 #brend2 .brend__img1 img {
  opacity: 1;
}

#brend3 .brend__img1 img {
  opacity: 0.3;
  display: inline-block;
}
#brend3 .brend__img2 img {
  display: none;
}

._activeBrend3 #brend3 .brend__img1 img {
  display: none;
}
._activeBrend3 #brend3 .brend__img2 img {
  display: inline-block;
}

._opasityBrend3 #brend3 .brend__img1 img {
  opacity: 1;
}

#brend4 .brend__img1 img {
  opacity: 0.3;
  display: inline-block;
}
#brend4 .brend__img2 img {
  display: none;
}

._activeBrend4 #brend4 .brend__img1 img {
  display: none;
}
._activeBrend4 #brend4 .brend__img2 img {
  display: inline-block;
}

._opasityBrend4 #brend4 .brend__img1 img {
  opacity: 1;
}

#gerts1 .gerts__img1 img {
  opacity: 0.3;
  display: inline-block;
}
#gerts1 .gerts__img2 img {
  display: none;
}

._activeGerts1 #gerts1 .gerts__img1 img {
  display: none;
}
._activeGerts1 #gerts1 .gerts__img2 img {
  display: inline-block;
}

._opasityGerts1 #gerts1 .gerts__img1 img {
  opacity: 1;
}

#gerts2 .gerts__img1 img {
  opacity: 0.3;
  display: inline-block;
}
#gerts2 .gerts__img2 img {
  display: none;
}

._activeGerts2 #gerts2 .gerts__img1 img {
  display: none;
}
._activeGerts2 #gerts2 .gerts__img2 img {
  display: inline-block;
}

._opasityGerts2 #gerts2 .gerts__img1 img {
  opacity: 1;
}

#gerts3 .gerts__img1 img {
  opacity: 0.3;
  display: inline-block;
}
#gerts3 .gerts__img2 img {
  display: none;
}

._activeGerts3 #gerts3 .gerts__img1 img {
  display: none;
}
._activeGerts3 #gerts3 .gerts__img2 img {
  display: inline-block;
}

._opasityGerts3 #gerts3 .gerts__img1 img {
  opacity: 1;
}

#gerts4 .gerts__img1 img {
  opacity: 0.3;
  display: inline-block;
}
#gerts4 .gerts__img2 img {
  display: none;
}

._activeGerts4 #gerts4 .gerts__img1 img {
  display: none;
}
._activeGerts4 #gerts4 .gerts__img2 img {
  display: inline-block;
}

._opasityGerts4 #gerts4 .gerts__img1 img {
  opacity: 1;
}

#size1 .size__img1 img {
  opacity: 0.3;
  display: inline-block;
}
#size1 .size__img2 img {
  display: none;
}

._activeSize1 #size1 .size__img1 img {
  display: none;
}
._activeSize1 #size1 .size__img2 img {
  display: inline-block;
}

._opasitySize1 #size1 .size__img1 img {
  opacity: 1;
}

#size2 .size__img1 img {
  opacity: 0.3;
  display: inline-block;
}
#size2 .size__img2 img {
  display: none;
}

._activeSize2 #size2 .size__img1 img {
  display: none;
}
._activeSize2 #size2 .size__img2 img {
  display: inline-block;
}

._opasitySize2 #size2 .size__img1 img {
  opacity: 1;
}

#size3 .size__img1 img {
  opacity: 0.3;
  display: inline-block;
}
#size3 .size__img2 img {
  display: none;
}

._activeSize3 #size3 .size__img1 img {
  display: none;
}
._activeSize3 #size3 .size__img2 img {
  display: inline-block;
}

._opasitySize3 #size3 .size__img1 img {
  opacity: 1;
}

#size4 .size__img1 img {
  opacity: 0.3;
  display: inline-block;
}
#size4 .size__img2 img {
  display: none;
}

._activeSize4 #size4 .size__img1 img {
  display: none;
}
._activeSize4 #size4 .size__img2 img {
  display: inline-block;
}

._opasitySize4 #size4 .size__img1 img {
  opacity: 1;
}

#matriks1 .matriks__img1 img {
  opacity: 0.3;
  display: inline-block;
}
#matriks1 .matriks__img2 img {
  display: none;
}

._activeMatriks1 #matriks1 .matriks__img1 img {
  display: none;
}
._activeMatriks1 #matriks1 .matriks__img2 img {
  display: inline-block;
}

._opasityMatriks1 #matriks1 .matriks__img1 img {
  opacity: 1;
}

#matriks2 .matriks__img1 img {
  opacity: 0.3;
  display: inline-block;
}
#matriks2 .matriks__img2 img {
  display: none;
}

._activeMatriks2 #matriks2 .matriks__img1 img {
  display: none;
}
._activeMatriks2 #matriks2 .matriks__img2 img {
  display: inline-block;
}

._opasityMatriks2 #matriks2 .matriks__img1 img {
  opacity: 1;
}

#matriks3 .matriks__img1 img {
  opacity: 0.3;
  display: inline-block;
}
#matriks3 .matriks__img2 img {
  display: none;
}

._activeMatriks3 #matriks3 .matriks__img1 img {
  display: none;
}
._activeMatriks3 #matriks3 .matriks__img2 img {
  display: inline-block;
}

._opasityMatriks3 #matriks3 .matriks__img1 img {
  opacity: 1;
}

@-webkit-keyframes arrow {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}

@keyframes arrow {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}
.anime img {
  -webkit-animation-name: arrow;
          animation-name: arrow;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

.brend__list ul {
  display: block;
}

.gerts__list ul {
  display: block;
}

.size-screen__list ul {
  display: block;
}

.matriks__list ul {
  display: block;
}

.wraper._activBrend .brend__list ul {
  display: none;
}
.wraper._activBrend .brend__list img {
  transform: rotate(-180deg);
}

.wraper._activGerts .gerts__list ul {
  display: none;
}
.wraper._activGerts .gerts__list img {
  transform: rotate(-180deg);
}

.wraper._activSize .size-screen__list ul {
  display: none;
}
.wraper._activSize .size-screen__list img {
  transform: rotate(-180deg);
}

.wraper._activMatriks .matriks__list ul {
  display: none;
}
.wraper._activMatriks .matriks__list img {
  transform: rotate(-180deg);
}

.wraper._activFilter .rid-bar {
  display: block;
  transform: translateX(0);
}

.wraper._activFilter .menu-bar__overlay {
  transform: translateX(0);
}

.line {
  height: 2px;
  width: 250px;
  background-color: rgba(66, 73, 136, 0.541);
}

.center__row {
  display: flex;
  flex-wrap: wrap;
  border-top: 2px rgba(66, 73, 136, 0.541) solid;
}

.blok__item {
  width: 20%;
  border: 2px rgba(66, 73, 136, 0.541) solid;
  border-left: 0;
  border-top: 0;
  padding: 20px;
  background-color: white;
  transition-duration: 0.1s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item__image img {
  max-width: 100%;
}

.item__title {
  font-size: 20px;
}

.item_cost {
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buy {
  cursor: pointer;
  padding: 7px;
  transition-duration: 0.3s;
}
.buy:hover {
  background-color: rgba(231, 231, 255, 0.504);
  border-radius: 30%;
}
.buy img {
  position: relative;
  left: -3px;
  width: 30px;
}

.footer {
  margin-top: 100px;
  padding-top: 30px;
  background-color: rgb(238, 237, 237);
}

.footer__row {
  display: flex;
}

.footer__bloks {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
  margin-bottom: 30px;
}
.footer__bloks li {
  color: rgb(100, 107, 174);
  font-size: 17px;
  margin: 10px 0;
  cursor: pointer;
}
.footer__bloks li:hover {
  color: rgb(239, 114, 114);
  text-decoration: underline;
}

.grey {
  font-size: 13px;
  color: grey;
}

.blok__time {
  width: 300px;
  margin-bottom: 20px;
}
.blok__time p {
  color: rgb(100, 107, 174);
  font-size: 17px;
  cursor: pointer;
  transition-duration: 0.3s;
}
.blok__time p:hover {
  color: rgb(239, 114, 114);
}

.footer__under {
  border-top: 1px rgba(0, 0, 0, 0.151) solid;
}

.under__text {
  margin: 20px 0;
}
.under__text :last-child {
  color: grey;
  margin-left: 10px;
  display: inline;
}

@media (min-width: 1500px) {
  .katalog-window {
    width: 1450px;
  }
}
@media (max-width: 1280px) {
  .logo__image {
    width: 70px;
  }
  .logo__image::after {
    content: "";
    display: none;
  }
  .blok__item {
    width: 33.3333%;
  }
}
@media (max-width: 1050px) {
  .logo__image {
    width: 30px;
  }
  .blok__catalog {
    display: none;
  }
}
@media (max-width: 1000px) {
  .rid-bar {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    transform: translateX(-110%);
    transition: transform 0.5s;
    z-index: 1;
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.573);
    overflow-x: scroll;
  }
  .footer__bloks {
    flex-wrap: wrap;
  }
  .blok {
    flex: 0 0 50%;
  }
}
@media (min-width: 1050px) {
  .katalog__exity {
    display: none;
  }
}
@media (min-width: 1000px) {
  .filter-exit {
    display: none;
  }
  .under__filter {
    display: none;
  }
  .under__list {
    justify-content: flex-end;
  }
  .blok__item:hover {
    transform: scale(1.05);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.385);
    border: 0;
    transition-duration: 0.4s;
  }
}
@media (max-width: 800px) {
  .footer__row {
    flex-direction: column;
  }
  .blok {
    flex: 0 0 100%;
  }
}
@media (max-width: 655px) {
  .under__button {
    flex-direction: column;
  }
}
@media (max-width: 475px) {
  .under__filter {
    width: 50%;
    margin-right: 20px;
  }
  .under__select {
    width: 50%;
  }
}
@media (max-width: 700px) {
  .blok__logo {
    display: none;
  }
  .blok__lenguage {
    display: none;
  }
  .blok__profile {
    display: none;
  }
  .blok__item {
    width: 50%;
  }
}